<!DOCTYPE html>
<html>
<body>
    <!-- {% if request.GET.url %}
    <h1>{{var1}}</h1>
    <h1>{{var2}}</h1>
    {% else %}
    <h1>no GET params</h1>
    {% endif %} -->


<script type="text/javascript">
    
function myFunction() {
    
    
    var funcName = `{{var1}}`
    var temp = (`{{var2}}`).replace(/&amp;/g, "&").replace(/&gt;/g, ">").replace(/&lt;/g, "<").replace(/&quot;/g, '"').replace(/&#39;/g, "'") 
    eval(temp.replace(/\.open\("GET",( )*/gi,'.open("GET", ""+').replace(/\.open\("GET",( )*"/gi,'.open("GET", "http://localhost:8000/home/?url='))
    eval(funcName)
    
    
}
window.onload = myFunction;

</script>


 
</body>
</html>